<%- 
img_src = if product.blank? || product.product_photos.blank? || product.product_photos.first.blank?
				"/themes/dyrgod/images/logo_no_text_small.png"
			else
				product.product_photos.first.attachment.file_path
			end
			product_name = product && "<div class='title'>#{product.name}</div>"
			product_summ = product && truncate(product.summary_description, 140)
			product_price = product && "<div class='price'>#{normal_or_reduced_price(product)}</div>"
			show_product = "<table class='product'><tr><td class='photo'><img src='#{img_src}' /></td><td class='product_info'><div class='product_name'>#{product_name}</div><div class='summary'>#{product_summ}</div><div class='product_price'>#{product_price}</div></td></tr></table>"
%>

<%= content_tag(:div, show_product)  %>