<p><b>Navn:</b> <%= @content_block.name %></p>
<p>Eksempel:<br/><br/><img src="<%= @content_block.attachment_link %>" alt="Example Photo" height="480px" width="640px"><br/></p>
<p><b>Beskrivelse:</b> <%= @content_block.description %></p>
