<p><b>Navn:</b> <%= @content_block.name %></p>
<% if false %>
<p><b>Last Name:</b> <%= @content_block.last_name %></p>
<% end %>
<p>Foto Producent:<br/><br/><img src="<%= @content_block.attachment_link %>" alt="Producer Photo" height="480px" width="640px"><br/></p>
<p><b>Beskrivelse:</b> <%= @content_block.description %></p>
